
*, *::before, *::after {
    box-sizing: border-box;
}
.grid {
    font-size: 0px;
    text-align: justify;
}
.grid::after {
    content: "";
    display: inline-block;
    width: 100%;
}
.grid > * {
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size: medium;
    vertical-align: top;
    transition: all .75s ease;
}
@media (max-width: 764px) {
    .grid-2-765 > * {
        width: 100%;
    }
}
@media (min-width: 765px) {
    .grid-2-765 > * {
        width: 48%;
    }
}
@media (min-width: 1024px) {
    .grid-3-1024 > * {
        width: 31.33%;
    }
}
form {
    color: white;
}
input {
    width: 75%;
    height: 35px;

}
textarea {
    border: 2px solid white;
    background-color: #0099FF;
    width: 65%;
    min-height: 12em;
    color: white;
}
section {
    padding-top: 2%;
    min-height: 500px;
    padding-left: 5%;
    background-color: #0099FF;
}
.left {
    background-color: #0099FF;
    margin-left: 2.5%;
}
.middle {
    background-color: #0099FF;
}
.right {
    background-color: #0099FF;
}
.inputbox {
    border: 2px solid white;
    background-color: #0099FF;
    color: white;
}
